<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__main">
    <h3 class="kt-subheader__title"> <%= page_title %> </h3>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <div class="kt-subheader__breadcrumbs">
      <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
    </div>
  </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-12">
      <div class="kt-portlet">
        <form class="kt-form kt-form--label-right" id="EditMeals" action="<%= generateUrl('setting.update') %>"
          method="POST">
          <div class="kt-portlet__body">
            <div class="form-group row">
              <div class="col-lg-6">
                <label><%= response.setting_data.setting_name %></label>
                <input id="setting_value" name="setting_value" type="text" placeholder="Enter Setting Value"
                  pattern="^[a-zA-Z1-9].*" class="form-control" required
                  data-validation-required-message="This field is required"
                  value="<%- response.setting_data.setting_value %>" />
              </div>
              <div class="col-lg-6">
                <label>Status:</label>
                <select name="status" id="status" class="form-control kt-selectpicker" data-live-search="true"
                  title="Choose one of the following...">
                  <option value="Active" <%=response.setting_data.status=="Active" ? 'selected' : '' %>>
                    Active</option>
                  <option value="Inactive" <%=response.setting_data.status=="Inactive" ? 'selected' : '' %>>
                    Inactive
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions">
              <div class="row">
                <div class="col-lg-6">
                  <input type="hidden" name="mid" value="<%= response.setting_data._id%>">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <a href="<%= generateUrl('setting.listing') %>" class="btn btn-secondary">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>