<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="editcouponValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('coupon.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Coupon Code:</label>
                                <input type="text" onfocusout="couponVerify2('<%=response.coupon_code %>')" name="coupon_code" id="coupon_code" class="form-control" pattern="^[a-zA-Z1-9].*"
                                    placeholder="Enter coupon code" value="<%=response.coupon_code %>">
                                    <div id="coupon-message" style="display: none;">
                                        <i class="" style="color: red;">Coupon Code Already Exists</i>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Coupon Type:</label>
                            
                                <select name="discount_type" id="discount_type" class="form-control">
                                    <option value="flat" <%=(response.discount_type=="flat")?"selected":"" %>>$</option>
                                    <option value="percent" <%=(response.discount_type=="percent")?"selected":"" %>>%</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Discount:</label>
                                    <input type="text" name="amount" id="amount" class="form-control" pattern="[0-9]+([\.][0-9]{0,2})?"
                                        placeholder="Enter coupon discount" value="<%=response.amount %>">
                                </div>
                                <div class="col-lg-6">
                                    <label>Coupon Count:</label>
                                
                                    <input type="number" min="0" name="coupon_count" id="coupon_count" class="form-control" placeholder="Enter coupon count" value="<%=response.coupon_count %>">
                                        
                                </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Expiry Date:</label>
                                        <input type="date" name="expiry_date" id="expiry_date" class="form-control" value="<%=response.expiry_date %>">
                                    </div>
                                </div>
                    
                            <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label>Description</label>
                                        <textarea name="coupon_description" id="coupon_description" class="form-control"><%=response.coupon_description %></textarea>
                                    </div>
                                </div>
                    </div>
                    <input name="id" type="hidden" value="<%=response._id %>">
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('coupon.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>