<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0," />
    <meta name="x-apple-disable-message-reformatting" />
    <title>Order Template</title>
</head>

<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" style="padding:25px;border: 1px solid #d0d0d0;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; max-width:
        600px; margin: 15px auto;box-sizing: border-box;font-weight: 400; ">
        <tr>
            <td style="text-align:center;padding: 5px 0 0;">
                <a href="#" style="display: inline-block;">
                    <img style="width: 200px; " src='<%= logo_url%>' alt="">
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 25px 0px 0px; color: #0c0c0c;font-size: 20px;line-height: 30px;">
                Hello <%= response.user_id.first_name %> <%= response.user_id.last_name %>,
            </td>
        </tr>
        <tr>
            <td style="padding: 0px 0px 0px; color: #0c0c0c;font-size: 20px;line-height: 30px;">
                We have received your order and your Order Id is: <%= response.order_no %>, Please check the below Order
                details.
            </td>
        </tr>

        <tr>
            <td style="padding:25px 0px 10px;color: #000000;font-size: 22px; line-height: 26px;">
                Shipping Details
            </td>
        </tr>
        <% if(!_.isEmpty(response.shipping_address)) {%>
        <tr>
            <td style="padding:0px 0px 10px">
                <table cellpadding="0" cellspacing="0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
                    sans-serif, 'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';width:100%;vertical-align:
                    top;box-sizing: border-box;border-left:1px solid #d0d0d0;border-top:1px solid #d0d0d0">
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Name
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.first_name%> <%=response.shipping_address.last_name%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Address
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.address%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Apt. Suite
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.apt_suite?response.shipping_address.apt_suite: 'NA'%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            City
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.city%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            State
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.state%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Phone
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.phone%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Company Name
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.shipping_address.company_name?response.shipping_address.company_name: 'NA'%>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            First box will deliver
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%
                           date = new Date(response.deliver_arrive_on);
                           year = date.getFullYear();
                           month = date.getMonth()+1;
                           dt = date.getDate();
                           if (dt < 10) {
                           dt = '0' + dt;
                           }
                           if (month < 10) {
                           month = '0' + month;
                           }
                           %>
                            <%= year+'-' + month + '-'+dt %>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Weekly delivery day
                        </td>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;font-weight:400;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%=response.deliver_day%>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <% } else{ %>
        <p style="text-align: center; font-weight: 500;">No Data Found</p>
        <% } %>

        <tr>
            <td style="padding:25px 0px 10px;color: #000000;font-size: 22px; line-height: 26px;">
                Meal Details
            </td>
        </tr>
        <tr>
            <td style="padding:  0px 0px 10px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:24px">
                <table cellpadding="0" cellspacing="0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
                    sans-serif, 'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';width:100%;vertical-align:
                    top;box-sizing: border-box;border-left:1px solid #d0d0d0;border-top:1px solid #d0d0d0">
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Meal
                        </td>
                        <td width="150"
                            style="padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0; text-align: center;    white-space: nowrap;">
                            Quantity
                        </td>
                    </tr>
                    <% for(let i =0; i<response.order_details.length; i++) { %>
                    <tr>
                        <td
                            style="text-align:left;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;    white-space: nowrap;">
                            <%=response.order_details[i][0].meal_info.title%>
                        </td>
                        <td width="150"
                            style="padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0; text-align: center;    white-space: nowrap;">
                            <%=response.order_details[i][0].quantity%>
                        </td>
                    </tr>
                    <% } %>

                </table>
            </td>
        </tr>

        <tr>
            <td style="padding:25px 0px 10px;color: #000000;font-size: 22px; line-height: 26px;">
                Price Details
            </td>
        </tr>
        <tr>
            <td style="padding:  0px 0px 10px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:24px">
                <table cellpadding="0" cellspacing="0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
                    sans-serif, 'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';width:100%;text-align:center;vertical-align:
                    top;box-sizing: border-box;border-left:1px solid #d0d0d0;border-top:1px solid #d0d0d0">
                    <tr>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Total Price
                        </td>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Discounted Price
                        </td>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            Date
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            $<%= response.total_price %>
                        </td>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            $<%= response.discounted_price %>
                        </td>
                        <td
                            style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                            <%
                            date = new Date(response.createdAt);
                            year = date.getFullYear();
                            month = date.getMonth()+1;
                            dt = date.getDate();

                            if (dt < 10) {
                            dt = '0' + dt;
                            }
                            if (month < 10) {
                            month = '0' + month;
                            }
                            %>
                            <%= year+'-' + month + '-'+dt %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding:25px 0px 10px;color: #000000;font-size: 22px; line-height: 26px;">
                Coupon Details
            </td>
        </tr>
        <% if(!_.isEmpty(response.coupon)) {%>
        <tr>
            <td style="padding:  0px 0px 10px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:24px">
                <table cellpadding="0" cellspacing="0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
                    sans-serif, 'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';width:100%;text-align:center;vertical-align:
                    top;box-sizing: border-box;border-left:1px solid #d0d0d0;border-top:1px solid #d0d0d0">
                    <tbody>
                        <tr>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                Coupon Code
                            </td>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                Description
                            </td>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #000000;background-color:
                    #ffffff;line-height:22px;font-weight:600;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                Discount
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                <%=response.coupon.coupon_code%>
                            </td>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                <%=response.coupon.coupon_description%>
                            </td>
                            <td
                                style="text-align:center;padding:6px 15px;font-size: 14px;color: #333333;background-color:
                    #ffffff;line-height:22px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;     white-space: nowrap;">
                                <%=(response.coupon.discount_type=="flat")?"$"+response.coupon.amount:response.coupon.amount+"%" %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <% } else { %>
        <p style="text-align: center; font-weight: 500;">No Coupon Applied</p>
        <% } %>

        <tr>
            <td style="padding:25px 0px 0px;color: #000000;font-size: 14px; line-height: 22px;">
                Thank You<br><br>
                Regards,
            </td>
        </tr>
        <tr>
            <td style="padding:0px 0px 5px;color: #000000;font-size: 14px; line-height: 22px;">
                Mass Meal Admin
            </td>
        </tr>
    </table>
</body>

</html>