<div class="">
    <div class="">Hi <%= firstName %>,</div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Here's your new password: <span style="color: crimson"><%= password %></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br>Mass Meal Admin</div>
</div>