<div class="">
    <div class="">Hello <%= response.first_name %> <%= response.last_name %>,</div>
    <div class="">
        <p>We have initiated your refund and this will take 5-10 Business days.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br>Mass Meal Admin</div>
</div>