<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="CreateMeals" action="<%= generateUrl('meals.insert') %>"
                    enctype="multipart/form-data" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="">Upload Gallery Images:</label>
                                <input type="file" name="meal_images" id="meal_images" style="height:auto;"
                                    class="form-control" multiple>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" pattern="^[a-zA-Z1-9].*"
                                    placeholder="Enter Meal Name">
                            </div>
                            <div class="col-lg-6">
                                <label>Select Meal Type:</label>
                                <select name="meal_type" id="meal_type" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Select Meal Type</option>
                                    <% _.each(mealtypes, function(mealtype){ %>
                                    <option value="<%= mealtype._id %>"><%= mealtype.title %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- <div class="col-lg-6">
                                <label>Price($):</label>
                                <input type="text" name="price" id="price" class="form-control"
                                    data-validation-required-message="This field is required"
                                    pattern="[0-9]+(\.[0-9]{0,2})?%?" placeholder="Enter Meal Price (0 / 0.00)">
                            </div> -->
                            <!-- <div class="col-lg-6">
                                <label>Select Toppings</label>
                                <select class="form-control m-select2" id="topping_ids" name="topping_id"
                                    multiple="multiple">
                                    <% for(i=0;i< toppings.length; i++){ %>
                                    <option value="<%= toppings[i]._id %>">
                                        <%= toppings[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div> -->

                            <div class="col-lg-6">
                                <label>Select Category</label>
                                <select name="category_id" id="category_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Select Category</option>
                                    <% _.each(categories, function(category){ %>
                                    <option value="<%= category._id %>"><%= category.title %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>How it Tastes:</label>
                                <input type="text" name="taste_text" id="taste_text" class="form-control"
                                    placeholder="Enter how it tastes">
                            </div>

                        </div>

                        <div class="form-group row">


                            <!-- <div class="col-lg-6">
                                <label>Select Key Benefits</label>
                                <select class="form-control m-select2" id="key_ids" name="key_id" multiple="multiple">
                                    <% for(i=0;i< keybenefits.length; i++){ %>
                                    <option value="<%= keybenefits[i]._id %>">
                                        <%= keybenefits[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div> -->
                        </div>

                        <!-- <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Select Dietary</label>
                                <select class="form-control m-select2" id="dietary_ids" name="dietary_id"
                                    multiple="multiple">
                                    <% for(i=0;i< dietaryinfo.length; i++){ %>
                                    <option value="<%= dietaryinfo[i]._id %>">
                                        <%= dietaryinfo[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Select Likes</label>
                                <select class="form-control m-select2" id="like_ids" name="like_id" multiple="multiple">
                                    <% for(i=0;i< likeinfo.length; i++){ %>
                                    <option value="<%= likeinfo[i]._id %>">
                                        <%= likeinfo[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <div class="col-lg-12">
                                <label>How it Tastes:</label>
                                <input type="text" name="taste_text" id="taste_text" class="form-control"
                                    placeholder="Enter how it tastes">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Brief Description:</label>
                                <textarea name="content" id="content" class="ckeditor form-control"
                                    placeholder="Enter Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label> This Meal Contains:</label>
                                <input type="text" name="contains_text" id="contains_text" class="form-control"
                                    placeholder="Please type and press coma" data-role="tagsinput">
                            </div>

                            <div class="col-lg-6">
                                <label class="">Description Left Image:</label>
                                <input type="file" name="block_image" id="block_image" style="height:auto;"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="field_wrapper">
                                    <div class="form-group"> <label>Heading:</label>
                                        <input type="text" class="form-control" name="heading[]" value=""
                                            placeholder="Enter Title" />
                                    </div>
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <textarea name="desc[]" id="content" class="ckeditor form-control"
                                            placeholder="Enter Description"></textarea>
                                        <a href="javascript:void(0);" class="add_button" title="Add field">Add More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('meals.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>