<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="EditMeals" enctype="multipart/form-data"
                    action="<%= generateUrl('meals.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="">Upload Gallery Images:</label>
                                <input type="file" name="meal_images" id="meal_images" style="height:auto;"
                                    class="form-control" multiple>
                            </div>
                            <% if(response.meals_data[0].meal_images !=''){ %>
                            <div class="col-lg-12">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content editProImg">
                                            <% for (let i=0; i<response.meals_data[0].meal_images.length; i++){ %>
                                            <div class="kt-widget31__pic responsivepic">
                                                <div class="widget31__pic_outer">
                                                    <figure class="kt-brdr"><img
                                                            src="/uploads/meal/thumb/<%=response.meals_data[0].meal_images[i]%>"
                                                            style="width:100%" class="Em16">
                                                    </figure>
                                                    <a href="#" class="close_btn_pic"
                                                        onclick="deleteMealImage('<%= response.meals_data[0].meal_images[i]%>')"><img
                                                            src="/img/cancel.svg"></a>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class=" form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" pattern="^[a-zA-Z1-9].*"
                                    placeholder="Enter Meal Type" value="<%= response.meals_data[0].title%>">
                            </div>
                            <div class="col-lg-6">
                                <label>Select Meal Type:</label>
                                <select name="meal_type" id="meal_type" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Select Meal Type</option>
                                    <% for(let i=0; i< response.meal_type.length; i++){ %>
                                    <option value="<%= response.meal_type[i]._id %>"
                                        <%=(response.meals_data[0].mealtype.toString() == response.meal_type[i]._id.toString())? 'selected' : ''%>>
                                        <%= response.meal_type[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- <div class="col-lg-6">
                                <label>Price($):</label>
                                <input type="text" name="price" id="price" class="form-control"
                                    data-validation-required-message="This field is required"
                                    pattern="[0-9]+(\.[0-9]{0,2})?%?"
                                    value="<%= Number(response.meals_data[0].price).toString()%>"
                                    placeholder="Enter Meal Price (0 / 0.00)">
                            </div> -->
                            <!-- <div class="col-lg-6">
                                <label>Select Toppings</label>
                                <select class="form-control m-select2" id="topping_ids" name="topping_id"
                                    multiple="multiple">
                                    <% for(let i=0; i< response.meals_data[0].topping_details.length; i++){ %>
                                    <option value="<%= response.meals_data[0].topping_details[i]._id %>"
                                        <%=response.meals_data[0].topping_details[i].selected ? 'selected':'' %>>
                                        <%= response.meals_data[0].topping_details[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div> -->

                            <div class="col-lg-6">
                                <label>Select Category</label>
                                <select name="category_id" id="category_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Select Category</option>
                                    <% for(let i=0; i< response.cat_data.length; i++){ %>
                                    <option value="<%= response.cat_data[i]._id %>"
                                        <%=(response.meals_data[0].category[0].toString() == response.cat_data[i]._id.toString())? 'selected' : ''%>>
                                        <%= response.cat_data[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>How it Tastes:</label>
                                <input type="text" name="taste_text" id="taste_text" class="form-control"
                                    placeholder="Enter how it tastes" value="<%= response.meals_data[0].taste_text %>">
                            </div>

                        </div>
                        <div class="form-group row">

                            <!-- <div class="col-lg-6">
                                <label>Select Key Benefits</label>
                                <select class="form-control m-select2" id="key_ids" name="key_id" multiple="multiple">
                                    <% for(let i=0; i< response.meals_data[0].key_details.length; i++){ %>
                                    <option value="<%= response.meals_data[0].key_details[i]._id %>"
                                        <%=response.meals_data[0].key_details[i].selected ? 'selected':'' %>>
                                        <%= response.meals_data[0].key_details[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div> -->
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Select Dietary</label>
                                <select class="form-control m-select2" id="dietary_ids" name="dietary_id"
                                    multiple="multiple">
                                    <% for(let i=0; i< response.meals_data[0].dietary_details.length; i++){ %>
                                    <option value="<%= response.meals_data[0].dietary_details[i]._id %>"
                                        <%=response.meals_data[0].dietary_details[i].selected ? 'selected':'' %>>
                                        <%= response.meals_data[0].dietary_details[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Select Likes</label>
                                <select class="form-control m-select2" id="like_ids" name="like_id" multiple="multiple">
                                    <% for(let i=0; i< response.meals_data[0].like_details.length; i++){ %>
                                    <option value="<%= response.meals_data[0].like_details[i]._id %>"
                                        <%=response.meals_data[0].like_details[i].selected ? 'selected':'' %>>
                                        <%= response.meals_data[0].like_details[i].title %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <div class="col-lg-12">
                                <label>How it Tastes:</label>
                                <input type="text" name="taste_text" id="taste_text" class="form-control"
                                    placeholder="Enter how it tastes" value="<%= response.meals_data[0].taste_text %>">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Brief Description:</label>
                                <textarea name="content" id="content" class="ckeditor form-control"
                                    placeholder="Enter Description"><%= response.meals_data[0].content%></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label> This Meal Contains:</label>
                                <input type="text" name="contains_text" id="contains_text" class="form-control"
                                    placeholder="Please type and press coma" data-role="tagsinput"
                                    value="<%= response.meals_data[0].contains_text%>">
                            </div>
                            <div class="col-lg-3">
                                <label class="">Description Left Image:</label>
                                <input type="file" name="block_image" id="block_image" style="height:auto;"
                                    class="form-control">
                            </div>
                            <% if(response.meals_data[0].block_image !=''){ %>
                            <div class="col-lg-3">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="/uploads/meal_block/thumb/<%=response.meals_data[0].block_image%>"
                                                    style="width:100%" class="Em16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">

                                <div class="field_wrapper">
                                    <% for(let j=0; j<response.meals_data[0].detail_blocks.length; j++) {%>
                                    <div>
                                        <div class="form-group row col-lg-12">
                                            <label>Heading:</label>
                                            <input type="text" class="form-control" name="heading[]"
                                                value="<%= response.meals_data[0].detail_blocks[j].heading%>"
                                                placeholder="Enter Title" />
                                        </div>
                                        <div class="form-group row col-lg-12">
                                            <label>Description:</label>
                                            <textarea name="desc[]" id="content" class="ckeditor form-control"
                                                placeholder="Enter Description"><%= response.meals_data[0].detail_blocks[j].desc%></textarea>
                                        </div>
                                        <% if(j != 0){%>
                                        <a href="javascript:void(0);" class="remove_button">Remove</a>
                                        <% } %>
                                    </div>



                                    <% } %>
                                    <a href="javascript:void(0);" class="add_button" title="Add field">Add More</a>

                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" id="status" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="Active"
                                        <%=response.meals_data[0].status=="Active" ? 'selected' : '' %>>
                                        Active</option>
                                    <option value="Inactive"
                                        <%=response.meals_data[0].status=="Inactive" ? 'selected' : '' %>>
                                        Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="mid" id="mid" value="<%= mealID%>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('meals.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>