<!-- begin:: Aside -->
<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

    <!-- begin:: Aside -->
    <div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a href="<%= generateUrl('user.dashboard') %>">
                <img style="width: 40px" alt="Logo" src="/assets/media/logos/logo-4.png" />
            </a>
        </div>
    </div>

    <!-- end:: Aside -->

    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1"
            data-ktmenu-dropdown="1" data-ktmenu-scroll="1">
            <ul class="kt-menu__nav ">
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('user.dashboard') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon flaticon-home-2"></i><span
                            class="kt-menu__link-text">Dashboard</span></a></li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('mealtypes.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-info"></i><span class="kt-menu__link-text">Meal
                            Types</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('meals.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-utensils"></i><span
                            class="kt-menu__link-text">Meals</span></a></li>

                <!-- <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('toppings.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-plus"></i><span
                            class="kt-menu__link-text">Toppings</span></a></li> -->

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('user.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon flaticon2-avatar"></i><span
                            class="kt-menu__link-text">Users</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('setting.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-bars"></i><span
                            class="kt-menu__link-text">Settings</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('coupon.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-check"></i><span
                            class="kt-menu__link-text">Coupons</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('orders.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-shopping-cart"></i><span
                            class="kt-menu__link-text">Orders</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('zip.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-address-card"></i><span
                            class="kt-menu__link-text">Zip</span></a></li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('category.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-tags"></i><span
                            class="kt-menu__link-text">Category</span></a></li>

                <!-- <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('key.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-check"></i><span class="kt-menu__link-text">Key
                            Benefits</span></a></li> -->

                <!-- <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('dietary.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-minus"></i><span
                            class="kt-menu__link-text">Dietary</span></a></li> -->


                <!-- <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('like.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fa fa-thumbs-up"></i><span
                            class="kt-menu__link-text">Like</span></a></li> -->


                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('packageType.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-tasks"></i><span class="kt-menu__link-text">Package
                            Type</span></a>
                </li>

                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('plan.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-tasks"></i><span
                            class="kt-menu__link-text">Packages</span></a>
                </li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('state.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-flag"></i><span class="kt-menu__link-text">State</span></a>
                </li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('contact.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-address-book"></i><span
                            class="kt-menu__link-text">Contact</span></a>
                </li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('team.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-users"></i><span class="kt-menu__link-text">Team</span></a>
                </li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('about.listing') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-info-circle"></i><span
                            class="kt-menu__link-text">About</span></a>
                </li>
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('cms.list') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon fas fa-bolt"></i><span class="kt-menu__link-text">CMS</span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- end:: Aside Menu -->
</div>

<!-- end:: Aside -->