<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="editLikeValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('like.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" pattern="^[a-zA-Z1-9].*"
                                    placeholder="Enter Title" value="<%= response.title %>">
                            </div>
                            <div class="col-lg-3">
                                <label class="">Icon:</label>
                                <input type="file" style="height:auto;" name="like_icon" id="like_icon"
                                    class="form-control">
                            </div>
                            <% if(response.like_icon !=''){ %>
                            <div class="col-lg-3">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="/uploads/like/thumb/<%=response.like_icon%>"
                                                    style="width:100%" class="Em16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" class="form-control kt-selectpicker">
                                    <option value="Active" <%=(response.status == 'Active') ? 'selected' : '' %>>Active
                                    </option>
                                    <option value="Inactive" <%=(response.status == 'Inactive') ? 'selected' : '' %>>
                                        Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="kid" value="<%= response._id %>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('like.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>