<div class="">
    <div class="">Hello Admin,</div>
    <div class="">
        <p><%= user_info.first_name %> <%= user_info.last_name %>, has canceled his order. Order No:
            #<%= order_info.order_no %></p>
    </div>
    <div class="">
        <p>We have initiated the refund and this will take 5-10 Business days.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
</div>