<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="editAboutValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('about.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Heading:</label>
                                <input type="text" name="main_heading" id="title" class="form-control"
                                    pattern="^[a-zA-Z1-9].*" placeholder="Enter Page Heading"
                                    value="<%= response.about_data.main_heading %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Content Title:</label>
                                <input type="text" name="block_title" id="block_title" class="form-control"
                                    pattern="^[a-zA-Z1-9].*" placeholder="Enter Content Title"
                                    value="<%= response.about_data.block_title %>">
                            </div>
                            <div class="col-lg-3">
                                <label class="">Content Right Image:</label>
                                <input type="file" style="height:auto;" name="block_right_image" id="block_right_image"
                                    class="form-control">
                            </div>
                            <% if(response.about_data.block_right_image !=''){ %>
                            <div class="col-lg-3">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="/uploads/about/thumb/<%=response.about_data.block_right_image%>"
                                                    style="width:100%" class="Em16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Content:</label>
                                <textarea name="block_content" id="block_content" class="ckeditor form-control" rows="3"
                                    placeholder="Enter Content">
                                            <%= response.about_data.block_content%>
                                        </textarea>
                            </div>
                        </div>
                        <div class="from-group row lowermargin">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" class="form-control kt-selectpicker">
                                    <option value="Active"
                                        <%=(response.about_data.status == 'Active') ? 'selected' : '' %>>Active
                                    </option>
                                    <option value="Inactive"
                                        <%=(response.about_data.status == 'Inactive') ? 'selected' : '' %>>
                                        Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="aid" value="<%= response.about_data._id %>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('about.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>