<% layout(layout_directory+'/mainLayout') -%>

  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        <%= page_title %>
      </h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>
      <div class="kt-subheader__breadcrumbs">
        <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
          <%= page_title %>
        </span>
      </div>
    </div>
  </div>

  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
      <div class="col-lg-12">
        <div class="kt-portlet">
          <div class="kt-portlet__body">
            <h2 style="margin-bottom: 30px;">Order Details</h2>

            <div class="form-group row">
              <div class="col-lg-3">
                <label style="font-weight: 500;">Name:</label>
                <%= response.user_id.first_name %>&nbsp;
                  <%= response.user_id.last_name %>
              </div>
              <div class="col-lg-3">
                <label style="font-weight: 500;">Total Price:</label>
                $
                <%= response.total_price %>
              </div>
              <div class="col-lg-3">
                <label style="font-weight: 500;">Discounted Price:</label>
                $
                <%= response.discounted_price %>
              </div>
              <div class="col-lg-3">
                <label style="font-weight: 500;">Date:</label>
                <%= moment(response.createdAt).format('ll') %>
              </div>
            </div>

            <table class="table table-striped- table-bordered table-hover table-checkable" id="html_table" width="100%">
              <thead>
                <tr>
                  <th>Meal</th>
                  <th style="text-align:center">Quantity</th>
                  <!-- <th style="text-align:center">Meal Price</th>
                  <th style="text-align:left">Toppings</th> -->
                </tr>
              </thead>

              <tbody>
                <% for(let i =0; i<response.order_details.length; i++) {%>
                  <tr>
                    <td title="Meal">
                      <%=response.order_details[i][0].meal_info.title%>
                    </td>
                    <td title="Quantity" style="text-align:center">
                      <%=response.order_details[i][0].quantity%>
                    </td>
                    <!-- <td title="Meal Price" style="text-align:center">
                      $
                      <%=response.order_details[i][0].meal_price%>
                    </td>


                    <td title="Toppings" style="text-align:center">
                      <%
                  var count = 1;
                  for(let j=0; j<response.order_details[i].length; j++){%>
                        <% if(!_.isEmpty(response.order_details[i][j].topping_details) && !_.isNull(response.order_details[i][j].topping_details)) {%>
                          <div class="row">
                            <div class="col-lg-2 text-left font-weight-bold">Title :</div>
                            <div class="col-lg-10 text-left">
                              <%= response.order_details[i][j].topping_details.title%>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-2 text-left font-weight-bold">Price :</div>
                            <div class="col-lg-10 text-left">
                              $
                              <%=Number(response.order_details[i][j].topping_details.price).toString()%>
                            </div>
                          </div>
                          <% } else { %>
                            <div class="col-lg-10 text-left">
                              NA
                            </div>
                            <% } %>
                              <% if(count != response.order_details[i].length) { %>
                                <div class="col-lg-12">
                                  <hr class="mt-2 mb-2">
                                </div>
                                <% } %>
                                  <% count ++ } %>
                    </td> -->
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>

          <div class="kt-portlet__body">
            <h3 style="margin-bottom: 30px;">Shipping Details</h2>
              <% if(!_.isEmpty(response.shipping_address)) {%>
                <div class="form-group row">
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">First Name:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.first_name%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Last Name:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.last_name%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Address:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.address%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Apt, Suite:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.apt_suite%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">City:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.city%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">State:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.state%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Phone:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.phone%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Company Name:</div>
                      <div class="col-lg-8">
                        <%=response.shipping_address.company_name%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">First box will deliver:</div>
                      <div class="col-lg-8">
                        <%=response.deliver_arrive_on%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Weekly delivery day:</div>
                      <div class="col-lg-8">
                        <%=response.deliver_day%>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else{ %>
                  <p style="text-align: center; font-weight: 500;">No Data Found</p>
                  <% } %>
          </div>
          <% if(!_.isEmpty(response.coupon)) {%>

            <div class="kt-portlet__body">
              <h3 style="margin-bottom: 30px;">Coupon Details</h2>

                <div class="form-group row">
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Coupon Code:</div>
                      <div class="col-lg-8">
                        <%=response.coupon.coupon_code%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Description:</div>
                      <div class="col-lg-8">
                        <%=response.coupon.coupon_description%>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group row">
                      <div class="col-lg-4" style="font-weight: 500;">Discount:</div>
                      <div class="col-lg-8">
                        <%=(response.coupon.discount_type=="flat")?"$"+response.coupon.amount:response.coupon.amount+"%" %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <% } %>
              <form class="kt-form kt-form--label-right" id="viewOrderValidation" action="<%= generateUrl('orders.update') %>" method="POST"
                enctype="multipart/form-data">

                <input type="hidden" id="next_order_status" name="next_order_status" value="<%=response.next_order_status%>">

                <div class="kt-portlet__body">
                  <div class="form-group row">
                    <%if(response.order_status =='Pending'){%>
                      <div class="col-lg-12">
                        <label>Update Order Status:</label>
                        <select name="order_status" id="order_status" class="form-control kt-selectpicker" onchange="getOrderId(this.value)" data-live-search="true"
                          title="Choose one of the following...">
                          <option value="Completed" <%=response.order_status=="Completed" ? 'selected' : '' %>> Completed
                          </option>
                          <option value="Pending" <%=response.order_status=="Pending" ? 'selected' : '' %>>Pending
                          </option>
                          <option value="Cancel" <%=response.order_status=="Cancel" ? 'selected' : '' %>>Cancel
                          </option>
                        </select>
                      </div>
                      <% } %>
                        <%if(response.order_status =='Cancel'){%>
                          <p>
                            <strong>Status: </strong>
                          </p>
                          <p style="color:red; margin:0 0 0 10px;"> Order has been Canceled.</p>
                          <% } %>
                            <%if(response.order_status =='Completed'){%>
                              <p>
                                <strong>Status: </strong>
                              </p>
                              <p style="color:green; margin:0 0 0 10px;"> Order has been Delivered.</p>
                              <% } %>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <div class="row">
                      <div class="col-lg-6">
                        <input type="hidden" name="orderid" id="orderid" value="<%=oid%>">
                        <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                        <a href="<%= generateUrl('orders.listing') %>" class="btn btn-secondary">Back</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>