<div class="">
    <div class="">Hello <%= userInfo.first_name %> <%= userInfo.last_name %>,</div>
    <div class="">
        <p>We have cancelled your order. Order No: #<%= orderInfo.order_no%></p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br>Mass Meal Admin</div>
</div>