<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <!-- <form class="kt-form kt-form--label-right" id="EditMealType"
                    action="<%= generateUrl('mealtypes.update') %>" method="POST"> -->
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Name:</label>
                            <input type="text" name="name" id="name" class="form-control"
                                value="<%= response.contact_data.name%>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label>Phone:</label>
                            <input type="text" name="phone" id="phone" class="form-control"
                                value="<%= response.contact_data.phone_number%>" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Email:</label>
                            <input type="text" name="name" id="name" class="form-control"
                                value="<%= response.contact_data.email_id%>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label>Status:</label>
                            <select name="status" id="status" class="form-control kt-selectpicker"
                                data-live-search="true" title="Choose one of the following..." disabled>
                                <option value="Active" <%=response.contact_data.status=="Active" ? 'selected' : '' %>>
                                    Active</option>
                                <option value="Inactive"
                                    <%=response.contact_data.status=="Inactive" ? 'selected' : '' %>>Inactive
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Message:</label>
                            <textarea name="message" id="message" rows="2" class="ckeditor form-control" readonly>
                                <%= response.contact_data.message%>
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="<%= generateUrl('contact.listing') %>" class="btn btn-primary">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>