<div class="">
    <div class="">Hello <%= response.first_name %> <%= response.last_name %>,</div>
    <div class="">
        <p>Your profile has been created.</p>
    </div>
    <div class="">Please use the email and password for login that you had used during checkout.</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br>Mass Meal Admin</div>
</div>