<% layout(layout_directory+'/mainLayout') -%>
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><%= page_title %></h3>
    </div>
</div>
<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet">
        <div class="kt-portlet__body  kt-portlet__body--fit">
            <div class="row">
                <div class="col-lg-6">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-widget14">
                            <div class="kt-widget14__header">
                                <h3 class="kt-widget14__title">
                                    User
                                </h3>
                                <span class="kt-widget14__desc">
                                    Active User Count
                                </span>
                            </div>
                            <div class="kt-widget14__content">
                                <div class="kt-widget14__chart">
                                    <div id="total_user_count" class="kt-widget14__stat"></div>
                                    <canvas id="kt_chart_user_reg_share" style="height: 140px; width: 140px;"></canvas>
                                </div>
                                <div id="user_share_legend" class="kt-widget14__legends">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- toppings count -->
                <!-- <div class="col-lg-4">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-widget14">
                            <div class="kt-widget14__header">
                                <h3 class="kt-widget14__title">
                                    Toppings
                                </h3>
                                <span class="kt-widget14__desc">
                                    Total Number of Toppings
                                </span>
                            </div>
                            <div class="kt-widget14__content">
                                <div class="kt-widget14__chart">
                                    <div id="total_author_count" class="kt-widget14__stat"></div>
                                    <canvas id="kt_chart_topping_count" style="height: 140px; width: 140px;"></canvas>
                                </div>
                                <div id="user_author_legend" class="kt-widget14__legends">

                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- meals count -->
                <div class="col-lg-6">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-widget14">
                            <div class="kt-widget14__header">
                                <h3 class="kt-widget14__title">
                                    Meals
                                </h3>
                                <span class="kt-widget14__desc">
                                    Total Number Of Meals
                                </span>
                            </div>
                            <div class="kt-widget14__content">
                                <div class="kt-widget14__chart">
                                    <div id="total_genre_count" class="kt-widget14__stat"></div>
                                    <canvas id="kt_chart_meals_reg_share" style="height: 140px; width: 140px;"></canvas>
                                </div>
                                <div id="user_genre_legend" class="kt-widget14__legends">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    New Users
                </h3>
            </div>
        </div>

        <%response.user.map((data)=>{%>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="kt_widget4_tab1_content">
                    <div class="kt-widget4">
                        <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                                  <img src="../assets/media/users/100_4.jpg" alt=""> 
    <span
        class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bolder"><%=data.first_name.charAt(0)%>
        <%=data.last_name.charAt(0)%></span>
</div>
<div class="kt-widget4__info">
    <a href="#" class="kt-widget4__username">
        <%=data.first_name%> <%=data.last_name%>
    </a>
    <p class="kt-widget4__text">
        <%=data.email%>
    </p>
</div>
<%if(data.role.role=='teacher'){%>
<a href="#" class="btn btn-sm btn-label-brand btn-bold">Teacher</a>
<%}%>
                                <%if(data.role.role=='principle'){%>
<a href="#" class="btn btn-sm btn-label-warning btn-bold">Principle</a>
<%}%>
                                <%if(data.role.role=='student'){%>
<a href="#" class="btn btn-sm btn-label-success btn-bold">Student</a>
<%}%>
                                <%if(data.role.role=='parent'){%>
<a href="#" class="btn btn-sm btn-label-danger btn-bold">Parent</a>
<%}%>
                        </div>                            
                    </div>
                </div>                    
            </div>
        </div>          
        <%})%>
</div> -->
    <!-- end user section -->
</div>
<!-- end:: Content -->

<script>
    var fileref = document.createElement('script')
    fileref.setAttribute("type", "text/javascript")
    fileref.setAttribute("src", "/assets/app/custom/general/dashboard.js");
    document.getElementsByTagName("body")[0].appendChild(fileref);
</script>