<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="editUserValidation" action="<%= generateUrl('user.update') %>"
					method="POST" enctype='multipart/form-data'>
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label for="first_name" class="control-label">First Name</label>
								<div class="controls">
									<input id="first_name" name="first_name" type="text" placeholder="Enter First Name"
										class="form-control required" required data-validation-required-message="This field is required"
										value="<%=response.user_data.first_name%>" pattern="^[a-zA-Z1-9].*" />
								</div>
							</div>
							<div class="col-lg-6">
								<label for="first_name" class="control-label">Last Name</label>
								<div class="controls">
									<input id="last_name" name="last_name" type="text" placeholder="Enter Last Name"
										class="form-control required" required data-validation-required-message="This field is required"
										value="<%=response.user_data.last_name%>" pattern="^[a-zA-Z1-9].*" />
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<label for="email" class="control-label">Email</label>
								<div class="controls">
									<input id="email" name="email" type="text" autocomplete="off" placeholder="Enter Email"
										class="form-control required" required data-validation-required-message="This field is required"
										value="<%=response.user_data.email%>"
										data-validation-regex-regex="([A-Za-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"
										data-validation-regex-message="Enter Valid Email" aria-invalid="true" />
								</div>
							</div>
							<div class="col-lg-6">
								<label for="phone" class="control-label">Phone Number</label>
								<div class="controls">
									<input id="phone" name="phone" type="text" placeholder="Enter Phone Number"
										class="form-control required" required data-validation-required-message="This field is required"
										value="<%=response.user_data.phone%>" pattern="^[ ()+]*([0-9][ ()+]*){10}$"
										data-validation-pattern-message="Enter 10 digit phone number" aria-invalid="true" />
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Status:</label>
								<select name="isActive" id="isActive" class="form-control kt-selectpicker" data-live-search="true"
									title="Choose one of the following...">
									<option value="true" <%=response.user_data.isActive==true ? 'selected' : '' %>>
										Active</option>
									<option value="false" <%=response.user_data.isActive==false ? 'selected' : '' %>>Inactive
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<input type="hidden" name="uid" value="<%= response.user_data._id%>">
									<button type="submit" class="btn btn-primary">Save</button>
									<a href="<%= generateUrl('user.listing') %>" class="btn btn-secondary">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>