<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="createPlansValidation"
                    action="<%= generateUrl('plan.insert') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Package Type:</label>
                                <select name="title" id="title" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Please Select</option>
                                    <option value="Lean" <%=response.title=="Lean" ? 'selected' : '' %>>
                                        Lean Package 4oz Protein Meals</option>
                                    <option value="Athletic" <%=response.title=="Athletic" ? 'selected' : '' %>>Athletic
                                        Package 6oz Protein Meals
                                    </option>
                                    <option value="Bulk" <%=response.title=="Bulk" ? 'selected' : '' %>>Bulk Package 8oz
                                        Protein Meals
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Package Count:</label>
                                <input type="number" name="box" id="box" min="1" class="form-control"
                                    data-validation-required-message="This field is required"
                                    placeholder="Enter Count (Only Numbers)">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Price($):</label>
                                <input type="text" name="price" id="price" class="form-control"
                                    data-validation-required-message="This field is required"
                                    pattern="[0-9]+(\.[0-9]{0,2})?%?" placeholder="Enter Price (0 / 0.00)">
                            </div>
                            <div class="col-lg-6">
                                <label>Tags:</label>
                                <select name="tag" id="tag" class="form-control kt-selectpicker" data-live-search="true"
                                    title="Choose one of the following...">
                                    <option value="">Please Select</option>
                                    <option value="MostPopular" <%=response.tag=="MostPopular" ? 'selected' : '' %>>
                                        Most Popular</option>
                                    <option value="BestValue" <%=response.tag=="BestValue" ? 'selected' : '' %>>Best
                                        Value</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('plan.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>